<launch>
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
     <!-- Use Global Planner (supports dynamic replanning) -->
    <param name="base_global_planner" value="navfn/NavfnROS"/>    
    <!-- Use DWA for local planning-->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <!--<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>-->

    <!-- Load Parameters -->
    <rosparam file="$(find robot_path_planning)/config/move_base_params.yaml" command="load"/>
    <rosparam file="$(find robot_path_planning)/config/costmap_common_params.yaml" command="load"/>
    <rosparam file="$(find robot_path_planning)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find robot_path_planning)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find robot_path_planning)/config/base_local_planner_params.yaml" command="load"/>
  </node>
</launch>



      
<!--

TebLocalPlannerROS:
  odom_topic: odom
  map_frame: map

  # Trajectory Parameters
  teb_autosize: true
  dt_ref: 0.2  # Lower value = faster trajectory updates
  dt_hysteresis: 0.05  #0.05
  global_plan_overwrite_orientation: true
  allow_init_with_backwards_motion: true
  max_global_plan_lookahead_dist: 5.0  # Look ahead further for better path planning
  feasibility_check_no_poses: 5
  publish_feedback: false
  footprint: [[-0.1, -0.1], [-0.1, 0.1], [0.1, 0.1], [0.1, -0.1]]


  # Robot Configuration Parameters (Set according to your UGV)
  max_vel_x: 0.3   # Increase speed
  max_vel_x_backwards: 0.3
  max_vel_theta: 0.3  # Faster rotations
  acc_lim_x: 2.0
  acc_lim_theta: 3.0
  min_turning_radius: 0.1

  # Goal Tolerance
  xy_goal_tolerance: 0.2
  yaw_goal_tolerance: 0.1
  free_goal_vel: false

  # Obstacles
  min_obstacle_dist: 0.8  # Lower distance to pass closer to obstacles
  inflation_dist: 0.3
  include_costmap_obstacles: true
  costmap_obstacles_behind_robot_dist: 1.0
  obstacle_poses_affected: 20

  # Optimization Parameters (Making it Fast & Reliable)
  no_inner_iterations: 5
  no_outer_iterations: 4
  optimization_activate: true
  optimization_verbose: false
  penalty_epsilon: 0.1
  weight_max_vel_x: 2
  weight_max_vel_theta: 1
  weight_acc_lim_x: 1
  weight_acc_lim_theta: 1
  weight_obstacle: 50  # Increase to avoid obstacles more effectively
  weight_dynamic_obstacle: 10  # Lower to prioritize speed
  weight_viapoint: 1
  weight_adapt_factor: 2

  # Recovery Behavior (Handling Failures)
  shrink_horizon_backup: true
  oscillation_recovery: true

-->

